# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# C++ build
cpp/build/
*.o
*.out
*.exe

# macOS
.DS_Store
__MACOSX/

# Large data files
data/*.zip
data/*.dat
data/*.bin
data/*.npy
data/*.npz
data/*.h5
data/*.tiledb/
data/arrayD/

# Logs & temp
*.log
*.tmp
