# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# C++ build
cpp/build/
*.o
*.out
*.exe

# macOS
.DS_Store
__MACOSX/

# Large data files
data/raw/
data/arrayD/
data/arrayE/
data/arrayG/

results

# Logs & temp
*.log
*.tmp
