# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# C++ build
cpp/build/
*.o
*.out
*.exe

# macOS
.DS_Store
__MACOSX/

# Large data files
data/raw/
data/**/*.dat
*.dat

data/*

!data/*/results/
!data/*/results/*.yaml

data/*/arrayD/
data/*/arrayG/
data/*/arrayE/

*.npy
*.npz
*.pt
*.pth
*.onnx


# Logs & temp
*.log
*.tmp
ccpress/config/local/
